@import "@fontsource/inter";
@import "tailwindcss";

body {
    font-family: "Inter";
    background-color: oklch(97% 0 0);
}

/* FullCalendar Styling */

.fc, .fc * {
    box-sizing: border-box;
}

/* Text */
.fc .fc-toolbar-title,
.fc .fc-col-header-cell-cushion,
.fc .fc-timegrid-slot-label-cushion {
    @apply text-neutral-900 font-normal;
}

.fc .fc-toolbar-title{
    @apply text-2xl font-bold
}

.fc .fc-timegrid-slot-label-cushion {
    @apply !text-xs;
}

/* Buttons */
.fc .fc-button {
    @apply rounded-2xl font-semibold transition duration-200 cursor-pointer bg-neutral-900 text-white px-5 py-2.5 text-sm
}

.fc .fc-button-group .fc-button {
    @apply px-2.5
}

.fc .fc-button:focus {
    @apply outline-none ring-2 ring-green-500
}

.fc .fc-button:hover {
    @apply bg-neutral-800
}

.fc .fc-button:disabled,
.fc .fc-button.fc-button-disabled {
    @apply bg-neutral-300 text-gray-500 cursor-not-allowed;
}

.fc .fc-button:focus,
.fc .fc-button-primary:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

/* List view */
.fc-list-event-time,
.fc-list-event-graphic {
    @apply hidden;
}

.fc .fc-list-event:hover td {
    background-color: transparent !important;
}

/* Remove borders */
.fc-theme-standard td,
.fc-theme-standard th {
    @apply border-0;
}

/* Center toolbar */
.fc-toolbar-chunk {
    @apply text-center;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}
.fc-timegrid-event {
    @apply flex items-center p-4;
}

.fc-list-event {
    @apply flex items-center p-2;
}